<div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Value</th>
        </tr>
        <tr ng-repeat="order in orders">
            <td>{{order.name}}</td>
            <td>{{order.address}]</td>
            <td>{{order.total | currency}}</td>
            <td><button ng-click="selectOrder(order)" class="btn btn-xs btn-primary">Details</button></td>
        </tr>
    </table>
    <div ng-show="selectedOrder">
        <h3>Order Details</h3>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Name</th>
                <th>Count</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.count}}</td>
                <td>{{item.price | currency}}</td>
            </tr>
        </table>
    </div>
</div>