<table>
    <tr>
        <th>Name</th>
        <th>Descrption</th>
        <th>Category</th>
        <th>Price</th>
    </tr>
    <tr ng-repeat="">
        <td>{{name}}</td>
        <td>{{description}}</td>
        <td>{{category}}</td>
        <td>{{price}}</td>
        <td><button type="button" class="btn btn-primary btn-sm" ng-click="">Edit</button></td>
        <td><button type="button" class="btn btn-primary btn-sm" ng-click="">Delete</button></td>
    </tr>
    <tr>
        <td colpan="4"><button>Add Product</button></td>
    </tr>
</table>