<navigation></navigation>
<div class="row">
    <div class="container">
        <div class="jumbotron">
            <h2>Member register</h2>
        </div>
        <form name="registerForm" novalidate>
            <div class="form-group">
                <label>Name:</label>
                <input type="text" name="memberName1" ng-model="user.name" class="form-control" placeholder="please enter your name" required>
            </div>
            <div class="form-group">
                <label>E-mail:</label>
                <input type="email" name="memberEmail1" ng-model="user.email" class="form-control" placeholder="please enter your e-mail" required><button type="button" ng-click="checkMail()">Check Mail</button><span>{{mailError}}</span><span>{{mailOk}}</span>
            </div>
            <div class="form-group">
                <label>Nick Name:</label>
                <input type="text" class="form-control" name="memberNickname" ng-model="user.nickname" required>
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control" ng-model="user.password" name="memberPassword" required>
            </div>
            <div class="form-group">
                <label>re-confirm Password</label>
                <input type="password" class="form-control" ng-model="user.confirmPassword" name="reconfirmPassword" required>
                <span style="color:red" ng-show="registerForm.reconfirmPassword.$dirty && !confirmPassword()">password mismatch!</span>
            </div>
        </form>
        <div>
            <button type="button" class="btn btn-primary" ng-click="formRegister()" ng-disabled="registerForm.$invalid">Submit</button>
            <button type="button" class="btn btn-warning" ng-click="clearAll()">Clear All</button>
        </div>    
    </div>
</div>